# ==========================================
# eBay Sandbox
# ==========================================

EBAY_APP_ID_SANDBOX=
EBAY_DEV_ID_SANDBOX=
EBAY_CERT_ID_SANDBOX=
EBAY_AUTH_TOKEN_SANDBOX=


# ==========================================
# eBay Production
# ==========================================

EBAY_APP_ID_PROD=
EBAY_DEV_ID_PROD=
EBAY_CERT_ID_PROD=
EBAY_AUTH_TOKEN_PROD=


# ==========================================
# ImgBB
# ==========================================

IMGBB_API_KEY=
EBAY_CATEGORY_ID=2535
EBAY_CONDITION_ID=3000
EBAY_CARD_CONDITION=Near Mint or Bettercd /workspaces/PokeBay-CLI
npm run dev